nav.nav
	ul.row.nav__list-of-items
		li.col-md-2
			a.nav__item(href='#') Главная
		li.col-md-2
			a.nav__item(href='#') Услуги
		li.col-md-4
			a.nav__item.nav__item_center(href='#' data-toggle="modal" data-target="#exampleModalCenter") Записаться
		li.col-md-2
			a.nav__item(href='#') Отзывы
		li.col-md-2
			a.nav__item(href='#') Контакты