.modal.fade(id="singUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header
        h5.modal-title(id="exampleModalLongTitle") 
        button.close(type="button"  data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      
      .modal-body
        p Создай личный кабинет, что бы получать бонусы за каждое посещение нашего барбершопа!
        p Ты сможешь оставлять отзывы о работе наших барберов, а так же просматривать историю своих посещений
        
       
        a.main__button.modal__button.mr-5(href='/register') Зарегистрироваться
        a.main__button.modal__button.modal__button-secondary(href='/appointment') Просто записаться  
  
     
      
