extends ../general.pug

block content
	section.main
			.main__slide
				.pt-5.pl-3
					.main__content
						h2 В нашем барбершопе 
						ul
							li лучшие барберы
							li профессиональные инструменты
							li бонусы для постоянных клиентов
								
						.mt-5
							a.main__button(href='/services') Наши услуги
						.mt-3
							a.main__button(href='#' data-toggle="modal" data-target="#singUpModal") Записаться


