button {
    cursor: pointer;
}

.header {
    background-color: #0e0e0e;
    background-image: url(../img/main_1.jpg);
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;

    .header__text {
        display: block;
        color: #fff;
    }

    .header__button {
        display: block;
        background: #fff;
        color: #0e0e0e;
        border: none;
        border-radius: 5px;
    }
}

.main {
    &__slide {
        width: 100%;
        height: 100vh;
        background-color: #030303;
        background-image: url("/img/main_1.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    &__content {
        color: #fff;
    }

    &__button {
        display: block;
        background: #fff;
        color: #0e0e0e;
        border: none;
        border-radius: 5px;
        width: 200px;
        padding: 10px 15px;

        text-transform: uppercase;
        text-align: center;

        &:hover {
            color: inherit;
            text-decoration: none;
            color: #000;
        }
    }

}






.required
{
    color: #aa3e2f;
}

.form__comment
{
    color: #777;

    font-size: .7em;
}

.form__success-msg
{
    display: none;

    margin: 0;
    padding: 16px;

    color: #155724;
    border-radius: 3px;
    background: #d4edda;
}

.form_valid .form__success-msg
{
    display: block;
    position: absolute;
    left: 20px;
    max-width: 200px;
}

.form__error-msg
{
    display: none;

    margin: 0;
    padding: 16px;

    color: #721c24;
    border-radius: 3px;
    background: #f8d7da;
}

.form_invalid .form__error-msg
{
    display: block;
    position: absolute;
    left: 20px;
}

.input_error
{
    border-color: #d00;
}
