doctype html
html(lang='ru')
    head
        title 404 Страница не найдена
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    body
        h1 404 Страница не найдена           
        span ←
            a(href="/") Вернуться на главную