doctype html
html(lang='ru')
	head
		include head/head.pug
	body
		include components/modal/modal.pug
		include components/nav/nav.pug
		include pages/contacts/contacts.pug
		footer
			include components/footer/footer.pug
