.footer
	.row
		.col-md-4.d-flex.align-items-center
			div
				a.footer__link(href='tel: +78005353535') +7 (800) 535-35-35
				div ул. Алексея Толстого 26А, Санкт-Петербург
		.col-md-4.d-flex.justify-content-around.align-items-center
				.footer__link.footer__social-link
					i.fab.fa-telegram.fa-2x
						a(href="#")
				.footer__link.footer__social-link
					i.fab.fa-vk.fa-2x
						a(href="#")
				.footer__link.footer__social-link
					i.fab.fa-twitter.fa-2x
						a(href="#")
				.footer__link.footer__social-link
					i.fab.fa-youtube.fa-2x
						a(href="#")
		.col-md-4.d-flex.justify-content-end.align-items-center
			span Лучший Барбершоп © 2018
		