extends ../general.pug

block content
	section.services.d-flex.align-items-center.justify-content-center
		.services__content.d-flex.flex-wrap
			.services__service
				.services__service-name Стрижка
				.services__service-price от 1000руб
			.services__service
				.services__service-name Бритье
				.services__service-price от 500руб
			.services__service
				.services__service-name Моделирование бороды
				.services__service-price от 1000руб
			.services__service
				.services__service-name Детская стрижка
				.services__service-price от 700руб