extends ../general.pug

block content
	.row.mh-100
		.col-md-6
			.map(id="map") 
		.col-md-6
			.mt-5
				h1 Наши контакты:
				.mt-5
					a(href='tel: +78005353535') +7 (800) 535-35-35
					p ул. Алексея Толстого 26А, Санкт-Петербург